# .gitignore


.idea
__pycache__/
venv/
env/
school_avatar/
school_picture/
school_header/
bw_school_avatar

web/config.py
web/static/image/backup1.jpg

uploads
files
test.html

.flaskenv
.env
.pytest_cache
