{% extends 'base.html' %}
{% block head %}
<!--    <link typerel="stylesheet" href="{{ url_for('static', filename='js/search.js')}}">-->
{% endblock %}
{% block content %}
    <ul>
        <div class="row">
            <div class="col-md-12 ">
                <form method="post" action="{{ url_for("search.hunt") }}">
                    <div class="input-group input-group-newsletterp">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-2">
                            <select name="select_type" class="selectpicker show-tick form-control" data-live-search="true">
                                <option>搜索专家</option>
<!--                                <option>搜索院校</option>-->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-lg" name="input_key" id="input_key" placeholder="请输入搜索内容">
                        </div>
                        <div class="col-md-1" id="submit_button">
                            <input type="submit" class="form-control input-lg" name="submit"  value="搜索">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <div class="d-none" id="load_cycle">
                    <div class="spinner-border"role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    正在检索，请稍后
                </div>

            </div>
            <div class="col-sm-5"></div>
        </div>
    </ul>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

